.webix_all_tabs .webix_item_tab.webix_selected:hover {
    background-color: rgba(174, 174, 174, 0.37);
}

.webix_item_tab.webix_selected {
    border-bottom-width: 0;
    background-color: rgba(174, 174, 174, .37);
}

.webix_all_tabs .webix_item_tab {
    border-top: #e8e8e8 solid 1px;
    border-right: #e8e8e8 solid 1px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-right-radius: 10px;
    text-decoration: none !important;
    /*background: #e3e3e3;*/
}


.webix_inp_bottom_label {
    font-size: 10px;
    color: #696969;
}

.webix_view {
    border-color: #e7e7e7 !important;
    font-weight: 400;
    font-size: 13px;
}


.webix_sidebar .webix_view {
    font-weight: 600 !important;
    font-size: 14px !important;
}

.webix_property_label {
    font-weight: 500 !important;
    font-size: 12px !important;
}

.webix_property_value {
    font-weight: 500 !important;
    font-size: 12px !important;
    color: #707070;
}

.webix_list .webix_view {
    font-weight: 500 !important;
    font-size: 13px !important;
}

.webix_dtable .webix_ss_header .webix_hcolumn {
    font-weight: 600 !important;
    font-size: 13px !important;
    color: #5b5b5b !important;
}
.webix_dtable .webix_ss_body .webix_cell {
    font-weight: 400 !important;
    font-size: 13px !important;
    color: #3f3f3f !important;
}