<!DOCTYPE html>
<html>
<head>
    {{template "header"}}
</head>
<body>
<script>
    let getColumns = function () {
        return [

            {
                cols: [
                    {view: "text", name: "name", label: "名称", required: true, css: "nborder-input",},
                    {view: "text", name: "event", label: "事件", required: true, css: "nborder-input",},
                ]
            },
            {
                cols: [
                    {view: "combo", name: "command_id", label: "控制指令", options: "/admin/modbus/command/options", css: "nborder-input", required: true,},
                    {view: "text", name: "param", label: "参数模板", required: true, css: "nborder-input",},
                ]
            },
            {view: "label", label: "备注",},
            {name: "remark", view: "codemirror-editor", mode: "markdown"},
        ]
    }

    let deleteItem = function (ids, callback) {
        webix.confirm({
            title: "Operation confirmation",
            ok: "Yes", cancel: "No",
            text: "Confirm to delete? This operation is irreversible.",
            callback: function (ev) {
                if (ev) {
                    webix.ajax().get('/admin/controlstream/delete', {ids: ids}).then(function (result) {
                        let resp = result.json();
                        webix.message({type: resp.msgtype, text: resp.msg, expire: 2000});
                        if (callback)
                            callback()
                    }).fail(function (xhr) {
                        webix.message({type: 'error', text: "Delete Failure:" + xhr.statusText, expire: 2000});
                    });
                }
            }
        });
    }

    let openDetail = function (item) {
        let valitem = webix.copy(item)
        let detailid = webix.uid().toString()
        wxui.openSideWindow({
            width: 480,
            title: "控制流",
            body: {
                view: "form",
                paddingX: 20,
                elementsConfig: {
                    labelWidth: 120,
                },
                data: valitem,
                css: "detail-form",
                elements: [
                    {view: "text", name: "name", label: "名称", readonly: true,},
                    {view: "text", name: "event", label: "事件", readonly: true,},
                    {view: "text", name: "param", label: "参数模板", readonly: true,},
                    {view: "combo", name: "command_id", label: "控制指令", options: "/admin/modbus/command/options", readonly: true,},
                    {id: detailid, view: "template", css: "data-remark", template: markdown.toHTML(valitem.remark), borderless: true, scroll: "auto"},
                ]
            }
        })
    }

    webix.ready(function () {
        let tableid = webix.uid().toString();
        let reloadData = wxui.reloadDataFunc(tableid, "/admin/controlstream/query", null)
        webix.ui({
            css: "main-panel",
            padding: 5,
            rows: [
                wxui.getPageToolbar({
                    title: "控制流",
                    icon: "mdi mdi-code-braces",
                    elements: [
                        wxui.getPrimaryButton("编辑", 90, false, function () {
                            let item = $$(tableid).getSelectedItem();
                            if (item) {
                                let vitem = webix.copy(item)
                                console.log(vitem)
                                wxui.openFormWindow({
                                    fullscreen: true,
                                    width: 640,
                                    height: 720,
                                    title: "修改控制流",
                                    data: vitem,
                                    post: "/admin/controlstream/update",
                                    callback: reloadData,
                                    elements: getColumns()
                                }).show();
                            } else {
                                webix.message({type: 'error', text: "Please select one", expire: 1500});
                            }
                        }),
                        wxui.getPrimaryButton("克隆", 90, false, function () {
                            let item = $$(tableid).getSelectedItem();
                            if (item) {
                                let vitem = webix.copy(item)
                                vitem.id = ""
                                wxui.openFormWindow({
                                    fullscreen: true,
                                    width: 640,
                                    height: 720,
                                    title: "克隆控制流",
                                    data: vitem,
                                    post: "/admin/controlstream/add",
                                    callback: reloadData,
                                    elements: getColumns()
                                }).show();
                            } else {
                                webix.message({type: 'error', text: "Please select one", expire: 1500});
                            }
                        }),
                        wxui.getPrimaryButton("创建", 90, false, function () {
                            wxui.openFormWindow({
                                fullscreen: true,
                                width: 640,
                                height: 720,
                                title: "创建控制流",
                                post: "/admin/controlstream/add",
                                callback: reloadData,
                                data: {},
                                elements: getColumns()
                            }).show();
                        }),
                        wxui.getDangerButton("删除", 90, false, function () {
                            let rows = wxui.getTableCheckedIds(tableid);
                            if (rows.length === 0) {
                                webix.message({type: 'error', text: "Please select one", expire: 1500});
                            } else {
                                deleteItem(rows.join(","), reloadData);
                            }
                        }),
                    ],
                }),
                wxui.getDatatable({
                    tableid: tableid,
                    url: '/admin/controlstream/query',
                    columns: [
                        {
                            id: "state",
                            header: {content: "masterCheckbox", css: "center"},
                            headermenu: false,
                            adjust: true,
                            css: "center",
                            template: "{common.checkbox()}"
                        },
                        {
                            id: "name", header: ["名称"], adjust: true, sort: "server",
                            template: "<a class='do_detail' href='javascript:void(0)'>#name#</a>"
                        },
                        {id: "event", header: ["事件"], adjust: true, sort: "server",},
                        {id: "param", header: ["参数模板"], adjust: true, sort: "server",},
                        {id: "command_id", header: ["控制指令"],options: "/admin/modbus/command/options", adjust: true, sort: "server",},
                        {id: "reamrk", header: ["备注"], fillspace: true, sort: "server",},
                        {header: {content: "headerMenu"}, headermenu: false, width: 35}
                    ],
                    rightSplit: 1,
                    pager: true,
                    on: {
                        onItemDblClick: function (id, e, node) {
                            openDetail(this.getItem(id))
                        }
                    },
                    onClick: {
                        do_detail: function (e, id) {
                            openDetail(this.getItem(id))
                        },
                    },
                }),
                wxui.getTableFooterBar({
                    tableid: tableid,
                    callback: reloadData,
                    actions: [],
                }),
            ]
        })
    })
</script>
</body>
</html>