<meta charset="utf-8"/>
<link rel="stylesheet" href="/static/myskin/webix.min.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="/static/myskin/webix_ext.min.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="/static/myskin/materialdesignicons.min.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="/static/myskin/index.min.css?v={{pagever}}" type="text/css" charset="utf-8">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<script src="/static/common/showdown.min.js"></script>
<script src="/static/common/mermaid.min.js"></script>
<script src="/static/common/utils.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/webix/webix.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/views/wxui.min.js?v={{pagever}}" type="text/javascript" charset="utf-8"></script>
<script src="/static/views/codemirror.js?v={{pagever}}" type="text/javascript" charset="utf-8"></script>
<script>mermaid.initialize({startOnLoad:true});</script>

