<!DOCTYPE html>
<html>
<head>
    {{template "header"}}
</head>
<body>
<script>
    let getColumns = function () {
        return [
            {view: "text", name: "name", label: "名称", required: true, css: "nborder-input",},
            {
                cols: [
                    {view: "text", name: "oid", label: "OID", required: true, css: "nborder-input",},
                    {view: "text", name: "group", label: "分组", required: true, css: "nborder-input",},
                ]
            },
            {
                cols: [
                    {view: "combo", name: "device_id", label: "设备", options:"/admin/modbus/device/options", required: true, css: "nborder-input",},
                    {view: "combo", name: "command_type", label: "指令类型",options:["data","script"], required: true, css: "nborder-input",},
                ]
            },
            {
                cols: [
                    {view: "combo", name: "reg_type", label: "寄存器类型", options: "/admin/regtype/options", css: "nborder-input", required: true,},
                    {view: "counter", name: "start_addr", label: "起始地址", css: "nborder-input", required: true,},
                ]
            },
            {view: "text", name: "command_param", label: "函数参数描述", css: "nborder-input",},
            {view: "label", label: "HEX数据或Lua脚本",},
            {name: "command_data", view: "codemirror-editor", mode: "lua"},
        ]
    }

    let deleteItem = function (ids, callback) {
        webix.confirm({
            title: "Operation confirmation",
            ok: "Yes", cancel: "No",
            text: "Confirm to delete? This operation is irreversible.",
            callback: function (ev) {
                if (ev) {
                    webix.ajax().get('/admin/modbus/command/delete', {ids: ids}).then(function (result) {
                        let resp = result.json();
                        webix.message({type: resp.msgtype, text: resp.msg, expire: 2000});
                        if (callback)
                            callback()
                    }).fail(function (xhr) {
                        webix.message({type: 'error', text: "Delete Failure:" + xhr.statusText, expire: 2000});
                    });
                }
            }
        });
    }

    let openDetail = function (item) {
        let valitem = webix.copy(item)
        let detailid = webix.uid()
        wxui.openSideWindow({
            width: 480,
            title: "Modbus 指令",
            body: {
                view: "form",
                paddingX: 20,
                elementsConfig: {
                    labelWidth: 120,
                },
                data: valitem,
                css: "detail-form",
                elements: [
                    {view: "text", name: "name", label: "名称", readonly: true,},
                    {view: "text", name: "group", label: "地址", readonly: true,},
                    {view: "combo", name: "device_id", label: "设备",options:"/admin/modbus/device/options", readonly: true,},
                    {view: "text", name: "command_type", label: "指令类型", readonly: true,},
                    {view: "text", name: "reg_type", label: "寄存器类型",  readonly: true,},
                    {view: "text", name: "start_addr", label: "起始地址",  readonly: true,},
                    {view: "text", name: "created_at", label: gtr("创建时间"), readonly: true,},
                    {view: "text", name: "updated_at", label: gtr("更新时间"), readonly: true,},
                ]
            }
        })
    }

    webix.ready(function () {
        let tableid = webix.uid().toString();
        let reloadData = wxui.reloadDataFunc(tableid, "/admin/modbus/command/query", null)
        webix.ui({
            css: "main-panel",
            padding: 5,
            rows: [
                wxui.getPageToolbar({
                    title: "Modbus 指令",
                    icon: "mdi mdi-code-braces",
                    elements: [
                        wxui.getPrimaryButton("编辑", 90, false, function () {
                            let item = $$(tableid).getSelectedItem();
                            if (item) {
                                let vitem = webix.copy(item)
                                console.log(vitem)
                                wxui.openFormWindow({
                                    fullscreen: true,
                                    width: 640,
                                    height: 720,
                                    title: "修改 Modbus 指令",
                                    data: vitem,
                                    post: "/admin/modbus/command/update",
                                    callback: reloadData,
                                    elements: getColumns()
                                }).show();
                            } else {
                                webix.message({type: 'error', text: "Please select one", expire: 1500});
                            }
                        }),
                        wxui.getPrimaryButton("克隆", 90, false, function () {
                            let item = $$(tableid).getSelectedItem();
                            if (item) {
                                let vitem = webix.copy(item)
                                vitem.id = ""
                                wxui.openFormWindow({
                                    fullscreen: true,
                                    width: 640,
                                    height: 720,
                                    title: "克隆 Modbus 指令",
                                    data: vitem,
                                    post: "/admin/modbus/command/add",
                                    callback: reloadData,
                                    elements: getColumns()
                                }).show();
                            } else {
                                webix.message({type: 'error', text: "Please select one", expire: 1500});
                            }
                        }),
                        wxui.getPrimaryButton("创建", 90, false, function () {
                            wxui.openFormWindow({
                                fullscreen: true,
                                width: 640,
                                height: 720,
                                title: "创建 Modbus 指令",
                                post: "/admin/modbus/command/add",
                                callback: reloadData,
                                data: {},
                                elements: getColumns()
                            }).show();
                        }),
                        wxui.getDangerButton("删除", 90, false, function () {
                            let rows = wxui.getTableCheckedIds(tableid);
                            if (rows.length === 0) {
                                webix.message({type: 'error', text: "Please select one", expire: 1500});
                            } else {
                                deleteItem(rows.join(","), reloadData);
                            }
                        }),
                    ],
                }),
                wxui.getDatatable({
                    tableid: tableid,
                    url: '/admin/modbus/command/query',
                    columns: [
                        {
                            id: "state",
                            header: {content: "masterCheckbox", css: "center"},
                            headermenu: false,
                            adjust: true,
                            css: "center",
                            template: "{common.checkbox()}"
                        },
                        {
                            id: "name", header: ["名称"], fillspace: true, sort: "server",
                            template: "<a class='do_detail' href='javascript:void(0)'>#name#</a>"
                        },
                        {id: "oid", header: ["OID"], adjust: true, sort: "server",},
                        {id: "group", header: ["分组"], adjust: true, sort: "server",},
                        {id: "device_id", header: ["设备"], options:"/admin/modbus/device/options", adjust: true, sort: "server",},
                        {id: "reg_type", header: ["寄存器类型"], adjust: true, sort: "server",},
                        {id: "start_addr", header: ["起始地址"], adjust: true, sort: "server",},
                        {header: {content: "headerMenu"}, headermenu: false, width: 35}
                    ],
                    rightSplit: 1,
                    pager: true,
                    on: {
                        onItemDblClick: function (id, e, node) {
                            openDetail(this.getItem(id))
                        }
                    },
                    onClick: {
                        do_detail: function (e, id) {
                            openDetail(this.getItem(id))
                        },
                    },
                }),
                wxui.getTableFooterBar({
                    tableid: tableid,
                    callback: reloadData,
                    actions: [],
                }),
            ]
        })
    })
</script>
</body>
</html>