<!DOCTYPE HTML>
<html style="width:96%;height:95%">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/static/echarts/echarts-utils.min.js?v={{pagever}}"></script>
    <script src="/static/echarts/echarts.min.js"></script>
    <script src="/static/webix/webix.min.js"></script>
</head>
<body style="width:100%;height:100%;">
<div id="main" style="width:100%;height:100%"></div>
<script>
    let chartDom = document.getElementById('main');
    let myChart = echarts.init(chartDom);
    myChart.showLoading("default", {fontSize: 16, textColor: '#aaa', maskColor: 'rgba(255, 255, 255, 0.2)'})
    webix.ajax().get("/admin/metrics/modbus/linedata").then( function (result) {
        let data = result.json();
        myChart.hideLoading()
        let items = []
        if (data && data.datas) {
            data.datas.forEach(function (item) {
                items.push({
                    name: item.name,
                    type: 'line',
                    showSymbol: false,
                    smooth: true,
                    hoverAnimation: false,
                    data: item.values,
                },)
            });
        }

        myChart.setOption({
            useUTC: false,
            color: echartui.colors,
            backgroundColor: 'rgba(42,50,61,0)',
            title: {
                text: data.title,
                subtext: '',
                left: 'center',
                fontSize: '14',
            },
            tooltip: {
                trigger: 'axis',
            },
            legend: {
                top: 30,
                // textStyle: {
                //     color: '#d3d3d3',
                // }
            },
            grid: {
                top: '30%',
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'time',
                boundaryGap: false,
                axisLabel: {
                    formatter: function (value) {
                        return echarts.format.formatTime('hh:mm', value);
                    }
                }
            },
            yAxis: {
                type: 'value',
            },
            series: items
        });
    });
</script>
</body>
</html>